@import '../../scss/variables.scss';

.movieCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;

  width: 100%;
  height: 100%;

  border-radius: 1rem;

  &__img {
    &:hover {
      opacity: 0.5;
    }
  }
}
