@import '../../scss/variables.scss';

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &__title {
    font-size: 3rem;
  }
}
