@import '../../scss/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &__logo {
    width: 3rem;
    height: 3rem;
  }

  &__title {
    font-size: 3rem;
  }

  &__list {
    display: flex;
    gap: 1rem;
    flex: 1;
  }
  &__item {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
