.swiper {
  display: flex;
  flex-direction: column;
  position: initial !important;
}

.movieGallery {
  position: relative;
}

.btn {
  top: 35%;
  position: absolute;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  background: none;
  font-size: 2rem;
}

.img {
  fill: white;
}
